/* #__next {
  min-height: 100vh;
} */

body {
  font-family: "Roboto", sans-serif;
  background-image: url("../public/World_Time_Zones_Map.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100vh;
  height: 100lvh;
}

.container {
  display: grid;
  grid-template-rows: 1fr 2rem;
  max-width: 1000px;
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 25px;
}

.title {
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: 2px;
  font-variant: small-caps;
  padding: 20px;
  border-radius: 12px;
  background: linear-gradient(to right, transparent, white, transparent);
  margin-top: 5px;
  margin-bottom: 30px;
}
@media (max-width: 480px) {
  .title {
    font-size: 2.5rem;
  }
}

.form {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  background: rgba(255, 255, 255, 0.98);
  padding: 10px;
  border-radius: 6px;
}

.zones-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
  margin-top: 40px;
}

.zone-item {
  border: 2px solid black;
  border-radius: 8px;
  padding: 12px;
  background: rgb(243, 243, 255);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.close-btn {
  position: absolute;
  right: 6px;
  top: 6px;
  cursor: pointer;
  height: 18px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-btn:hover {
  background-color: rgb(245, 50, 0);
  color: white;
}

.zone-item h2 {
  letter-spacing: 1px;
}

.time {
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.footer {
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background: linear-gradient(to right, transparent, white, transparent);
}

a {
  text-decoration: none;
}
